<!DOCTYPE html>
<html>
	<head>
		<title>Cars</title>
		<link rel="stylesheet" type="text/css" href="/css/carsView.css" />
	</head>
	<body>
		<div class="container">
			<div class="container">
				<div class="heading">All Cars</div>
				<div id="toys-customer">
					<% cars.forEach((car) => { %>
					<a href="/cars/<%= car._id %>">
						<div class="card">
							<div class="user-name"><%= car.carLicenseNumber %></div>
							<div class="email"><%= car.manufacturer %></div>
							<div class="dob"><%= car.model %></div>
							<div class="phoneNumber">Base Price <%= car.price %></div>
							<div class="address">PricePerHour <%= car.pricePerHour %></div>
							<div class="address">Security Deposite <%= car.securityDeposit %></div>
						</div>
					</a>
					<% }) %>
				</div>
			</div>
		</div>
		<label for="birthdaytime">Booking:</label>
		<input type="datetime" name="datetime" id="" />

		<a href="/cars/createCar"><button class="create-customer-btn">Create</button></a>

		<script src="/scripts/customerView.js"></script>
	</body>
</html>
